<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https:stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Document</title>

  </head>
  <body style="background-color: #b8bbd1"></body>
      <div class="container">
      <h1 class="display-4 text-center py-1">REJA VA MAQSADLAR</h1>
    </div>

    <div class="jumbotron p-3 shadow-sm" style="width: 750px; margin: 0 auto;">
      <form action="/create-item" id="create-form" method="POST">
        <div class="d-flex align-items-center" >
          <input
            id="create-field"
            name="reja"
            autofocus
            action="/create-item"
            class="form__box-input--space"
            type="text"
            autocomplete="off"
            style="flex: 1"
          />
          <button class="btn btn-primary" style="border-radius: 20px">Yangi Reja qoshish</button>
        </div>
      </form>
    </div>

   

    <ul id="item_list" class="list-group pb-5">
      <% items.map(function(item) { %>
      <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between">
        <span class="item-text"><%=item.reja%></span>
        <div>
          <button data-id="<%=item._id%>" class="edit-me btn btn-secondary btn-sm mr-1">
            Ozgaritirish
          </button>
          <button data-id="<%=item._id%>" class="edit-me btn btn-secondary btn-sm mr-1">
            ochirish
          </button>
        </div>
      </li>
      <% }) %>
    </ul>

    <button  id="clean-all"  class="btn btn-danger" style="border-radius: 20px; display: block; border-radius: 20px; transform: translate(50px, -50px);
" >Hammasini ochirish</button>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/browser.js"></script>
  </body>
</html>
