<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA VA MAQSADLAR</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body style="background: #b8bbd1">
    <div class="container">
      <h1
        class="display-4 text-center py-1"
        style="font-weight: 500; margin-top: 50px; color: #816363"
      >
        REJA VA MAQSADLAR
      </h1>

      <div class="jumbotron p-3 shadow-sm warning">
        <form id="create-form" action="/create-item" method="POST">
          <div class="d-flex align-items-center">
            <input
              id="create-field"
              name="reja"
              autofocus
              autocomplate="off"
              class="form-control mr-3 cos"
              type="text"
              placeholder="Please enter a plan"
              style="flex: 1; font-weight: 500; font-size: 20px"
            />
            <button
              class="btn btn-primary"
              style="
                width: 115px;
                border-radius: 10px;
                font-weight: 500;
                font-size: 20px;
                background-color: #3963be;
              "
            >
              Add
            </button>
          </div>
        </form>
      </div>
      <ul
        id="item-list"
        class="list-group pb-5"
        style="display: flex; gap: 2px"
      >
        <% items.map(function(item) { %>
        <li
          class="list-group-item list-group-item-info d-flex align-items-center justify-content-between"
        >
          <span class="item-text"><%=item.reja%></span>
          <div>
            <button
              data-id="<%=item._id%>"
              class="edit-me btn btn-secondary btn-sm mr-1"
            >
              Edit
            </button>
            <button
              data-id="<%=item._id%>"
              class="delete-me btn btn-danger btn-sm"
            >
              Delete
            </button>
          </div>
        </li>
        <% }) %>
      </ul>
      <button
        id="clean-all"
        class="btn btn-danger"
        style="
          border-radius: 10px;
          font-weight: 500;
          font-size: 20px;
          background-color: #3963be;
        "
      >
        Delete All
      </button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/browser.js"></script>
  </body>
</html>
